<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFserviceCRUD" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WCFserviceCRUD" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWCFserviceCRUD" contract="WCFserviceCRUD.IWCFserviceCRUD"
                name="BasicHttpBinding_IWCFserviceCRUD" />
        </client>
    </system.serviceModel>
</configuration>