<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">  //File Appender.
			<file value="C:\HPE_Tasks\logfile.txt" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >  //eventlog appender.
			<applicationName value="WinCLient" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="Info" />
			<appender-ref ref="EventLogAppender" />
		</root>
	</log4net>
	
	<system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHelloService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/HelloService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IHelloService" contract="HelloService.IHelloService"
                name="NetTcpBinding_IHelloService">
                <identity>
                    <servicePrincipalName value="host/INLEN8520016371.corp.capgemini.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>