<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceCRUDSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceCRUDSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44329/WebServiceCRUD.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceCRUDSoap"
                contract="WebServiceCRUD.WebServiceCRUDSoap" name="WebServiceCRUDSoap" />
        </client>
    </system.serviceModel>
</configuration>